[galaxy]
server_list = automation_hub, galaxy

[galaxy_server.automation_hub]
url=https://console.redhat.com/api/automation-hub/content/published/
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token=eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJleHAiOjE3OTAzMDA3OTEsImlhdCI6MTc4NzcwODc5MSwianRpIjoiYzUwMWNlMzktYTRiNC0wODEyLWNjNzYtYzRjMmFmYjJlNTllIiwiaXNzIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJhdWQiOiJodHRwczovL3Nzby5yZWRoYXQuY29tL2F1dGgvcmVhbG1zL3JlZGhhdC1leHRlcm5hbCIsInN1YiI6IjU4NjIwMjkwIiwidHlwIjoiT2ZmbGluZSIsImF6cCI6ImNsb3VkLXNlcnZpY2VzIiwibm9uY2UiOiJiY2E5NzE2Mi03YWFiLTRjYTAtODcwNi04OWZiMzk1MDBhNTAiLCJzaWQiOiI0NDZmODUwYy1kMTVmLWE5ZmUtMjVmYi04OTY1NjI5MGI5NGQiLCJzY29wZSI6Im9wZW5pZCBhcGkuY29uc29sZSBiYXNpYyByb2xlcyB3ZWItb3JpZ2lucyBjbGllbnRfdHlwZS5wcmVfa2MyNSBhcGkuYXNrX3JlZF9oYXQgb2ZmbGluZV9hY2Nlc3MifQ.sD_03IYz2kyOzGxBmjY5rSvK_sGKZ4wSS1Ubb96j63b-SNPWBKv-ptvVJdPRUuUajPIu1Wg6jSd8BrDbWy_CRw

[galaxy_server.galaxy]
url=https://galaxy.ansible.com/

[defaults]
inventory = inventory/
roles_path = roles/
collections_path = collections/
remote_user = ec2-user
private_key_file = ~/.ssh/patching-poc.pem
host_key_checking = False
retry_files_enabled = False
deprecation_warnings = False
stdout_callback = ansible.builtin.default
callback_result_format = yaml

[inventory]
enable_plugins = amazon.aws.aws_ec2, yaml, ini

[privilege_escalation]
become = False
become_method = sudo
become_user = root
become_ask_pass = False
